<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta nobis,
      soluta, odit voluptate molestiae fuga nam fugit est officia nisi,
      perspiciatis itaque eum quam modi quibusdam. Nostrum eligendi itaque
      maiores!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste magnam nihil
      dolores culpa inventore facilis sint? Itaque, laudantium est! Unde sequi
      corrupti doloremque modi praesentium vitae, iure in ratione repellendus?
    </p>
  </body>
</html>
